.burger-icon span,
.burger-icon span::before,
.burger-icon span::after {
    display: block;
    width: 30px;
    height: 2px;
    border-radius: 100px;
    background: var(--general-bg);
    transition: var(--transition);
}

.burger-icon {
    display: flex;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.burger-icon span {
    position: relative;
}

.burger-icon:hover span,
.burger-icon:hover span::before,
.burger-icon:hover span::after {
    background: var(--accent-color);
}

.burger-icon span::before,
.burger-icon span::after {
    content: '';
    position: absolute;
}

.burger-icon span::before {
    top: -10px;
}

.burger-icon span::after {
    bottom: -10px;
}

.body--opened-menu .burger-icon span {
    background: transparent;
}

.body--opened-menu .burger-icon span::before {
    top: 0px;
    transform: rotate(45deg);
}

.body--opened-menu .burger-icon span::after {
    bottom: 0px;
    transform: rotate(-45deg);
}

/* ================================================================ */

.header__top {
    background: #111111;
    padding: 6px 0 7px 0;
    margin-bottom: 50px;
}

.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 19px;
}

.header__top-left {
    display: flex;
    align-items: center;
    gap: 5vh 50px;
}

.header__logo img {
    max-width: 183px;
    width: 100%;
}

.nav__list {
    display: flex;
    gap: 5vh 50px;
    align-items: center;
}

.nav__item-favorite {
    margin: 7px 2px 0 0;
}

.nav__link path {
    transition: var(--transition);
}

.nav__link:hover path {
    stroke: var(--accent-color);
}

/* ================================================================ */

.breadcrumb {
    margin-bottom: 110px;
}

.breadcrumb-list li {
    display: inline;
    font-size: 20px;
    cursor: default;
}

.breadcrumb-list li+li:before {
    content: "/";
    color: #ABABAB;
}

.breadcrumb-list li+li+li:before {
    content: "/";
    color: #000000;
}

.breadcrumb-list li a {
    color: #ABABAB;
    text-decoration: none;
}

.breadcrumb-list li a:hover {
    color: #ABABAB;
}