@import "fonts.css";
@import "reset.css";
@import "global.css";
@import "header.css";
@import "footer.css";

/* ================================================================ */

.product__counter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.counter__controls {
    display: flex;
    align-items: center;
    /* gap: 40px; */
}

.counter__up button {
    background: var(--general-bg);
    display: flex;
    align-self: center;
}

.counter__input {
    text-align: center;
    font-size: 30px;
    font-weight: 400;
}

.counter__down button {
    background: var(--general-bg);
    display: flex;
    align-self: center;
}

.counter__input::-webkit-inner-spin-button,
.counter__input::-webkit-outer-spin-button {
    appearance: none;
}

/* ================================================================ */

.product__hero {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.product__slider {
    max-width: 670px;
    display: flex;
}

.product__slider-nav {
    width: 95px;
    margin-right: 25px;
}

.product__slide-nav {
    opacity: 0.5;
}


.product__slide-nav--active {
    box-shadow: 0px 4px 41px 0px #0000000d;
    opacity: 1;
}

.product__slider-nav .product__slide {
    height: 95px;
    width: 95px;
}

.product__slider-nav .product__slide img {
    max-height: 100%;
}

.product__slider-main {
    width: calc(100% - 95px - 25px);
    overflow: hidden;
}

.product__pagination.swiper-pagination {
    display: none;
    left: 20px;
    bottom: 120px;
}

.product__pagination .swiper-pagination-bullet-active {
    background-color: var(--general-text);
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 10px);
}

.swiper-pagination-bullet {
    gap: 20px;
    width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 10px));
    height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 10px));
}

.product__fav {
    display: flex;
    position: relative;
    max-height: 0;
    z-index: 2;
    background: transparent;
    top: 12px;
    right: 10px;
    bottom: 492px;
    left: 486px;
}

.product__fav-bottom {
    display: none;
    z-index: 2;
    background: transparent;
}

.product__fav--active svg {
    fill: var(--general-text);
}

.product__slide-nav {
    height: 95px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product__slide-nav:not(:last-child) {
    margin-bottom: 20px;
}

.product__slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.product__inner {
    max-width: 555px;
}

.product__title {
    font-size: 38px;
    line-height: 1.1;
    margin-bottom: 40px;
}

/* Обрезка текста, было трудно. Но выполнить смог. */

.product__text {
    background: var(--general-bg);
    height: 142px;
    box-sizing: border-box;
    margin-bottom: 49px;
    cursor: default;
}

.product__text p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    /* -webkit — вендорные префиксы. Safari, Chrome, Opera 15+ и другие браузеры на основе движка WebKit или Blink. */
    transition: var(--transition);
}

.product__text:hover p {
    background: var(--general-bg);
    position: relative;

    display: block;
    overflow: visible;
    padding: 15px;
    border-radius: 3px;
    box-shadow: 0px 4px 41px 0px #00000012;
}

.product__stock {
    margin-bottom: 24px;
    max-width: 135px;
}

.product__price {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 30px;
}

.product__values {
    display: flex;
    flex-direction: row-reverse;
    align-items: end;
    gap: 40px;
}

.product__value {
    font-size: 30px;
}

.product__value.price--actual {
    font-size: 50px;
}

.product__purchase {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.product__counter {
    border: 1px solid rgb(17, 17, 17);
    border-radius: 3px;
    width: 210px;
}

.product__shopbag {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background: var(--general-text);
    color: var(--general-bg);
    width: 325px;
    height: 80px;
    font-size: 30px;
    padding: 10px 10px 10px 20px;
    border-radius: 3px;
}

.product__shopbag img {
    width: 30px;
    height: 30px;
}

.product__shopbag:hover {
    transition: var(--transition);
    background: var(--accent-color);
}

/* ================================================================ */

.about__tab {
    padding: 90px 0 100px 0;
}

.tab-controls {
    display: flex;
    align-items: end;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;

    -ms-overflow-style: none
}

.tab-controls__item {
    border-bottom: 2px solid #ababab;
    font-size: 20px;
    line-height: 2.9;
    word-spacing: 10px;
    padding: 10px 30px;
    box-sizing: content-box;
}

.tab-controls__item--active {
    border-bottom: 4px solid #111111;
    padding: 10px 25px 8px 25px;
}

.tab-content {
    display: none;
}

.tab-content--show {
    display: block;
}

/* ================================================================ */

/* Первый таб */

.tab-list {
    display: grid;
    grid-template: repeat(2, auto) / repeat(3, auto);
}

.tab-list__item {
    display: flex;
    background: var(--general-bg);
    /* margin-bottom: 20px; */
}

.tab-list__item:first-child {
    max-width: 555px;
    grid-row: span 2;
    margin-right: 18px;
}

.tab-list__item:nth-child(2) {
    max-width: 785px;
    max-height: 307px;
    grid-column: span 2;
    margin-bottom: 18px;
}

.tab-list__item:nth-child(3) {
    margin-right: 17px;
}

.tab-list__item:nth-child(3),
.tab-list__item:nth-child(4) {
    max-width: 384px;
}

.tab-list__control.second {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab-list__control.third,
.tab-list__control.fourth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.list__img.first img {
    margin-bottom: 55px;
}

.list__img.second {
    max-width: 296px;
    margin: 0 0 11px 35px;
}

.list__text.first,
.list__text.third,
.list__text.fourth {
    margin-bottom: 55px;
}

.list__text.first,
.list__text.third,
.list__text.fourth {
    margin-right: 40px;
    margin-left: 40px;
}

.list__text.second {
    max-width: 394px;
    margin-left: 20px;
}

.list__title.first,
.list__title.second,
.list__title.third,
.list__title.fourth {
    margin-bottom: 20px;
    line-height: 1.2;
    font-size: 30px;
}

/* ================================================================ */

/* Второй таб */
#tab2 {
    max-width: fit-content;
    margin-inline: auto;
}

.char__columns {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1130px;
    max-height: 599px;
}

.char__column-one {
    max-width: 260px;
    width: 250px;
}

.chat__list-item {
    border-top: 1px solid #111111;
    line-height: 5.4;
}

.chat__list-item:last-child {
    border-bottom: 1px solid #111111;
}

.char__column-two {
    font-family: 'NAMU Pro';
    font-size: 30px;
    /* width: 169px; */
}

.chat__value-item {
    border-top: 1px solid #111111;
    line-height: 3.24;
    padding-left: 441px;
    padding-right: 220px;
}

.chat__value-item:last-child {
    border-bottom: 1px solid #111111;
}

/* ================================================================ */

/* Четвертый таб */

.payment {
    max-width: fit-content;
    margin-inline: auto;
    width: 1130px;
    height: 401px;
}

.payment li {
    margin-left: 25px;
    line-height: 2;
}

/* ================================================================ */

/* Пятый таб */

#tab5 {
    max-width: fit-content;
    margin-inline: auto;
    width: 1130px;
    height: 189px;
}

/* ================================================================ */

/* Шестой таб */

#tab6 {
    max-width: fit-content;
    margin-inline: auto;
    width: 1130px;
    height: 189px;
}

/* ================================================================ */

.certificate {
    display: flex;
    max-width: fit-content;
    margin-inline: auto;
    gap: 20px;
}

.certificate__item img {
    max-width: 268px;
    max-height: 378px;
}

/* ================================================================ */

.accordion-title {
    display: flex;
    gap: 10px;
    margin-bottom: 59px;
    font-family: 'NAMU Pro';
    font-size: 42px;
}

.accordion-list__item {
    border-top: 1px solid #ababab;
}

.accordion-list__item:last-child {
    border-bottom: 1px solid #ababab;
}

.accordion-list__control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 34px 0;
    width: 100%;
    cursor: pointer;
    transition: var(--transition);
}

.accordion-list__item--opened .accordion-list__control {
    padding-bottom: 50px;
}

.accordion-list__control-title {
    font-size: 20px;
    font-weight: 400;
}

.accordion-list__control-icon {
    display: flex;
    flex-shrink: 0;
    transition: var(--transition);
}

.accordion-list__control-icon path {
    transition: var(--transition);
}

.accordion-list__item--opened .accordion-list__control-icon {
    transform: rotate(-45deg);
}

.accordion-list__item--opened .accordion-list__control-icon path {
    fill: var(--accent-color);
}

.accordion-list__content {
    max-height: 0;
    overflow: hidden;
    transition: var(--transition);
}

.accordion-content {
    display: flex;
    padding: 0 452px 50px 0;
}

/* ================================================================ */

.media {
    display: flex;
}

.media video {
    width: 100%;
    height: 100%;
}

/* ================================================================ */

.more__title {
    font-family: 'NAMU Pro';
    font-size: 42px;
    padding-bottom: 60px;
}

.more__products {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.more__products-item {
    display: flex;
    flex-direction: column;
    max-width: 440px;
    max-height: 810px;
    box-shadow: 0px 4px 41px 0px #0000000d;

    margin-bottom: 130px;
}

.more__products-item:hover {
    box-shadow: 0px 4px 41px 0px #00000032;
    max-height: none;

    margin-bottom: 50px;
}

li.more__products-item:hover>div.more__popup {
    display: flex;
    max-height: none;
}

.more__products-item:nth-child(4) {
    display: none;
}

.more__products-item:nth-child(5) {
    display: none;
}

.more__products-item:last-child {
    display: none;
}

.more__products-img {
    display: flex;
    padding-bottom: 40px;
}

.more__products-img img {
    width: 100%;
}

.more__products-name {
    font-size: 24px;
    line-height: 1.38;
    padding: 40px;
}

.more__products-func {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px 18px 40px;
}

.more__products-fav {
    background: transparent;
}

.more__products-fav svg {
    width: 37px;
    height: 37px;
    flex-shrink: 1;
}

.more__products-price {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 0 40px 40px 40px;
}

.more__products-value.price--actual {
    font-size: 42px;
}

.more__products-value.price {
    font-size: 29px;
}

.more__show-button {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 325px;
    margin-inline: auto;
    border: 1px solid #111111;
    border-radius: 3px;
    padding: 20px 27px 20px 35px;
    gap: 30px;


    background: transparent;
    font-family: 'Open Sans';
    line-height: 1.4;
    font-size: 30px;
    font-weight: 400;
    transition: var(--transition);
}

.more__show-button:hover {
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
}

.more__show-button path {
    transition: var(--transition);
}

.more__show-button:hover path {
    fill: var(--accent-color);
}

.more__popup {
    display: none;
    align-items: end;
    max-height: 0;
}

.more__popup-counter {
    display: flex;
    justify-content: center;
    border: 1px solid rgb(17, 17, 17);
    border-radius: 3px;
    width: 220px;
    height: 80px;
}

.more__popup-shopbag {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background: var(--general-text);
    color: var(--general-bg);
    height: 80px;
    font-size: 30px;
    padding: 10px;
    border-radius: 3px;
}

.more__popup-shopbag:hover {
    transition: var(--transition);
    background: var(--accent-color);
}

/* ================================================================ */

@media (max-width: 1440px) {
    .container {
        padding: 0 50px;
    }

    .main__product,
    .main__accordion,
    .main__media,
    .main__more {
        margin-bottom: 100px;
    }

    /* =================================== */

    .product__slider-main {
        display: flex;
        align-items: center;
    }

    .product__fav {
        top: -262px;
        left: 380px;
    }

    .product__slider {
        max-width: 550px;
    }

    .swiper-wrapper {
        height: unset;
    }

    .product__inner {
        max-width: 500px;
    }

    .product__title {
        font-size: 30px;
    }

    .product__slide-nav {
        height: 85px;
    }


    .product__slide img {
        width: 90%;
        height: 75%;
    }

    .product__value {
        font-size: 30px;
    }

    .product__value.price--actual {
        font-size: 40px;
    }

    /* =================================== */

    .accordion-list__item--opened .accordion-list__control {
        padding-bottom: 30px;
    }

    .accordion-content {
        padding: 0 0 30px 0;
    }

    /* =================================== */

    .more__products-value.price--actual {
        font-size: 3vw;
    }

    .more__products-value.price {
        font-size: 2vw;
    }

    .more__popup-counter {
        display: none;
    }
}

@media (max-width: 1200px) {
    .header__top {
        margin-bottom: 25px;
    }

    /* =================================== */

    .breadcrumb-list li {
        font-size: 18px;
    }

    /* =================================== */

    .product__hero {
        gap: 10px;
    }

    .product__slider-main {
        justify-content: end;
        align-items: center;
    }

    .product__fav {
        top: -262px;
        left: 350px;
    }

    .product__inner {
        max-width: 430px;
    }

    /* =================================== */

    .char__columns {
        max-width: 650px;
        max-height: unset;
    }

    .char__column-one {
        max-width: unset;
        width: unset;
        font-size: 18px;
    }

    .chat__list-item {
        line-height: 4.4;
    }

    .char__column-two {
        font-size: 20px;
    }

    .chat__value-item {
        width: 130px;
        line-height: 3.96;
        padding-left: 10px;
        padding-right: 10px;
    }

    /* =================================== */

    .about__tab {
        padding: 30px 0 61px 0;
    }

    .tab-content--show {
        display: flex;
        justify-content: center;
    }

    .tab-controls__item {
        font-size: 20px;
        padding: 10px 15px;
    }

    .tab-list {
        display: flex;
        flex-direction: column;
    }

    .tab-list__control,
    .tab-list__control.second,
    .tab-list__control.third,
    .tab-list__control.fourth {
        display: flex;
        flex-direction: row;
    }

    .tab-list__item {
        margin-bottom: 12px;
    }

    .tab-list__item:first-child,
    .tab-list__item.second,
    .tab-list__item.third,
    .tab-list__item.fourth {
        max-width: 627px;
        margin-right: 12px;
    }

    .list__img.first img,
    .list__img.second img,
    .list__img.third img,
    .list__img.fourth img {
        margin-bottom: 0px;
        width: 302px;
    }

    .list__img.second {
        margin: 0;
    }

    .list__title.first,
    .list__title.second,
    .list__title.third,
    .list__title.fourth {
        margin-top: 50px;
        margin-bottom: 8px;
        line-height: 1.2;
        font-size: 20px;
    }

    .list__text.first,
    .list__text.second,
    .list__text.third,
    .list__text.fourth {
        margin-right: 40px;
        margin-left: 22px;
        margin-bottom: 16px;
        font-size: 16px;
    }

    /* =================================== */

    .payment {
        height: unset;
        font-size: 16px;
    }

    /* =================================== */

    #tab5 {
        height: unset;
        font-size: 16px;
    }

    #tab6 {
        height: unset;
        font-size: 16px;
    }

    .certificate {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 10px;
    }

    .certificate img {
        width: 44vw;
        height: 62vw;
    }

    /* =================================== */

    .more__title {
        font-size: 4vw;
        padding-bottom: 36px;
    }

    .more__products {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 10px;
        justify-items: center;
    }

    .more__products-item {
        max-width: 30vw;
        max-height: none;
        margin-bottom: 50px;
    }

    .more__products-item:hover {
        box-shadow: 0px 4px 41px 0px #0000000d;
        margin-bottom: 10px;
    }

    .more__products-item:nth-child(4) {
        display: flex;
    }

    .more__products-item:nth-child(5) {
        display: flex;
    }

    .more__products-item:last-child {
        display: flex;
    }

    .more__popup {
        display: block;
    }

    .more__products-name {
        font-size: 18px;
        line-height: 1.38;
        padding: 12px 10px;
    }

    .more__products-func {
        padding: 0 10px 12px 10px;
    }

    .more__products-stock {
        font-size: 10px;
        display: flex;
        align-items: center;
    }

    .stock:before {
        margin-right: 5px;
    }

    .more__products-fav svg {
        width: 24px;
        height: 24px;
    }

    .more__products-price {
        padding: 0 10px 12px 10px;
    }

    .more__products-value.price--actual {
        font-size: 3vw;
    }

    .more__products-value.price {
        font-size: 2vw;
    }

    .more__popup-shopbag {
        height: 50px;
        font-size: 24px;
    }

    .more__show-button {
        display: none;
    }

    /* =================================== */

    .footer__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .footer__top-logo img {
        padding: 30px 0 20px 0;
        width: 110px;
    }

    .footer__info {
        font-size: 12px;
    }

    .footer__contact {
        font-size: 12px;
    }

    #cont1 {
        display: flex;
    }

    #cont2 {
        display: none;
    }
}

@media (max-width: 1100px) {

    .product__slider {
        max-width: 507px;
    }

    .product__slide {
        justify-content: center;
    }

    .product__inner {
        max-width: 400px;
    }

    .product__shopbag {
        height: 70px;
    }

}

@media (max-width: 1000px) {

    .container {
        padding: 0 71px;
    }

    /* =================================== */

    .product__hero {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 50px;
    }

    .product__fav {
        display: none;
    }

    .product__slider {
        max-width: 545px;
    }

    .product__slider-nav {
        width: 65px;
    }

    .product__slide-nav {
        width: 65px;
        height: 65px;
    }

    .product__slider-nav img {
        width: 65px;
    }

    .product__pagination.swiper-pagination {
        display: block;
    }

    .product__inner {
        max-width: 628px;
    }

    .product__title {
        font-size: 28px;
    }

    .product__text {
        height: 65px;
    }

    .product__text p {
        -webkit-line-clamp: 3;
        font-size: 16px;
    }

    .product__price {
        justify-content: space-between;
        flex-direction: row-reverse;
        gap: 40px;
    }

    .product__fav-bottom {
        display: flex;
    }

    .product__shopbag {
        width: 387px;
    }

}

@media (max-width: 900px) {

    .accordion-title {
        font-size: 4vw;
    }

    /* =================================== */

    .more__products-name {
        font-size: 2vw;
    }

    .more__popup-shopbag {
        height: 40px;
        font-size: 2vw;
    }
}

@media (max-width: 700px) {

    .container {
        padding: 0 30px;
    }

    /* =================================== */

    .breadcrumb {
        margin-bottom: 110px;
        display: none;
    }

    /* =================================== */

    .product__slider-nav {
        display: none;
    }

    .product__slider {
        justify-content: center;
    }

    .product__inner {
        max-width: 76vw;
    }

    .product__title {
        font-size: 4vw;
    }

    .product__text p {
        font-size: 3vw;
    }

    .product__pagination.swiper-pagination {
        bottom: 300px;
        display: flex;
        justify-content: center;
    }

    .product__value.price--actual {
        font-size: 6vw;
    }

    .product__value {
        font-size: 4vw;
    }

    /* =================================== */

    .about__tab {
        padding: 30px 0 61px 0;
    }

    .tab-content--show {
        display: flex;
        justify-content: center;
    }

    .tab-controls__item {
        font-size: 20px;
        padding: 10px 15px;
    }

    .tab-list {
        display: flex;
        flex-direction: column;
    }

    .tab-list__control,
    .tab-list__control.second,
    .tab-list__control.third,
    .tab-list__control.fourth {
        display: flex;
        flex-direction: row;
    }

    .tab-list__item {
        margin-bottom: 12px;
    }

    .tab-list__item:first-child,
    .tab-list__item.second,
    .tab-list__item.third,
    .tab-list__item.fourth {
        max-width: 627px;
        margin-right: 12px;
    }

    .list__img.first img,
    .list__img.second img,
    .list__img.third img,
    .list__img.fourth img {
        margin-bottom: 0px;
        width: 36vw;
    }

    .list__img.second {
        margin: 0;
    }

    .list__title.first,
    .list__title.second,
    .list__title.third,
    .list__title.fourth {
        margin-top: 16px;
        margin-bottom: 8px;
        line-height: 1.2;
        font-size: 3.5vw;
    }

    .list__text.first,
    .list__text.second,
    .list__text.third,
    .list__text.fourth {
        margin-right: 40px;
        margin-left: 22px;
        margin-bottom: 16px;
        font-size: 2.5vw;
    }

    /* =================================== */

    .payment {
        height: unset;
        font-size: 16px;
    }

    /* =================================== */

    #tab5 {
        height: unset;
        font-size: 16px;
    }

    #tab6 {
        height: unset;
        font-size: 16px;
    }

    .certificate {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 10px;
    }

    .certificate img {
        width: 44vw;
        height: 62vw;
    }

    /* =================================== */

    .accordion-list__control {
        gap: 10px;
    }
    
    .accordion-title {
        font-size: 4vw;
    }

    .accordion-list__control-title {
        font-size: 3vw;
        font-weight: 300;
    }

    .accordion-content__item {
        font-size: 3vw;
    }

}

@media (max-width: 600px) {
    .product__purchase {
        flex-direction: column;
        gap: 10px;
    }

    .product__counter {
        width: auto;
        height: 60px;
    }

    .product__shopbag {
        width: auto;
    }
}

@media (max-width: 500px) {

    .container {
        padding: 0 20px;
    }

    /* =================================== */

    .header__top {
        margin-bottom: 20px;
    }

    .header__top-left {
        gap: 2vh 20px;
    }

    .nav__list {
        gap: 2vh 20px;
    }

    /* =================================== */

    .breadcrumb-list li {
        font-size: 16px;
    }
}

@media (max-width: 450px) {

    .main__product,
    .main__about,
    .main__accordion,
    .main__media,
    .main__more {
        margin-bottom: 46px;
    }

    .main__about {
        padding-bottom: 46px;
    }

    /* =================================== */


    .burger-icon span,
    .burger-icon span::before,
    .burger-icon span::after {
        width: 25px;
        height: 2px;
    }

    .burger-icon span::before {
        top: -8px;
    }

    .burger-icon span::after {
        bottom: -8px;
    }

    /* =================================== */

    .header__top-left {
        gap: 25px;
    }

    .header__logo img {
        width: 94px;
    }

    .nav__list {
        gap: 25px;
        margin-top: 2px;
    }

    .nav__item-favorite {
        margin-top: 4px;
    }

    .nav__link svg {
        width: 28px;
    }

    /* =================================== */

    .product__pagination.swiper-pagination {
        left: 0px;
        bottom: 322px;
    }

    .product__inner {
        max-width: 350px;
    }

    .product__title {
        font-size: 17px;
        margin-bottom: 12px;
    }

    .product__text {
        margin-bottom: 26px;
    }

    .product__text p {
        font-size: 13px;
    }

    .product__stock {
        margin-bottom: 0px;
    }

    .product__fav-bottom {
        display: none;
    }

    .product__price {
        justify-content: space-between;
        flex-direction: row;
    }

    .product__value {
        font-size: 20px;
    }

    .product__value.price--actual {
        font-size: 32px;
    }

    /* =================================== */

    .about__tab {
        padding: 30px 0 36px 0;
    }

    .tab-content--show {
        display: flex;
        justify-content: center;
    }

    .tab-controls__item {
        font-size: 13px;
        padding: 10px 15px;
    }

    .tab-list {
        display: flex;
        flex-direction: column;
    }

    .tab-list__control,
    .tab-list__control.second,
    .tab-list__control.third,
    .tab-list__control.fourth {
        display: flex;
        flex-direction: row;
    }

    .tab-list__item {
        margin-bottom: 12px;
    }

    .tab-list__item:first-child,
    .tab-list__item.second,
    .tab-list__item.third,
    .tab-list__item.fourth {
        max-width: 350px;
        margin-right: 12px;
    }

    .list__img.first img,
    .list__img.second img,
    .list__img.third img,
    .list__img.fourth img {
        margin-bottom: 0px;
        width: 140px;
    }

    .list__img.second {
        margin: 0;
    }

    .list__title.first,
    .list__title.second,
    .list__title.third,
    .list__title.fourth {
        margin-top: 16px;
        margin-bottom: 8px;
        line-height: 1.2;
        font-size: 16px;
    }

    .list__text.first,
    .list__text.second,
    .list__text.third,
    .list__text.fourth {
        margin-right: 13px;
        margin-left: 0px;
        margin-bottom: 16px;
        font-size: 11px;
    }

    /* =================================== */

    .char__columns {
        max-width: 350px;
        max-height: unset;
    }

    .char__column-one {
        max-width: unset;
        width: unset;
        font-size: 13px;
    }

    .chat__list-item {
        line-height: 4.4;
    }

    .char__column-two {
        font-size: 16px;
    }

    .chat__value-item {
        width: 110px;
        line-height: 3.579;
        padding-left: 10px;
        padding-right: 10px;
    }

    /* =================================== */

    .payment {
        height: unset;
        font-size: 13px;
    }

    /* =================================== */

    #tab5 {
        height: unset;
        font-size: 13px;
    }

    #tab6 {
        height: unset;
        font-size: 13px;
    }

    .certificate {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 10px;
    }

    .certificate img {
        width: 44vw;
        height: 62vw;
    }

    /* =================================== */

    .accordion-title {
        font-size: 20px;
    }

    .accordion-title p {
        display: none;
    }

    .accordion-list__control {
        gap: 24px;
    }

    .accordion-list__control-title {
        font-size: 13px;
        font-weight: 300;
        line-height: 1.4;
    }

    .accordion-list__control-icon {
        width: 24px;
    }

    /* =================================== */

    .more__title {
        font-size: 20px;
        padding-bottom: 36px;
    }

    .more__products {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 10px;
    }

    .more__products-item {
        max-width: 170px;
        max-height: none;
        margin-bottom: 50px;
    }

    .more__products-item:nth-child(4) {
        display: none;
    }

    .more__products-item:nth-child(5) {
        display: none;
    }

    .more__products-item:last-child {
        display: flex;
    }

    .more__popup {
        display: block;
    }

    .more__products-name {
        font-size: 10px;
        line-height: 1.38;
        padding: 12px 10px;
    }

    .more__products-func {
        padding: 0 10px 12px 10px;
    }

    .more__products-stock {
        font-size: 10px;
        display: flex;
        align-items: center;
    }

    .stock:before {
        margin-right: 5px;
    }

    .more__products-fav svg {
        width: 24px;
        height: 24px;
    }

    .more__products-price {
        padding: 0 10px 12px 10px;
    }

    .more__products-value.price--actual {
        font-size: 17px;
    }

    .more__products-value.price {
        font-size: 12px;
    }

    .more__popup-shopbag {
        height: 40px;
        font-size: 15px;
    }

    .more__show-button {
        display: none;
    }

    /* =================================== */

    .footer__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .footer__top-logo img {
        padding: 30px 0 20px 0;
        width: 110px;
    }

    .footer__info {
        font-size: 10px;
    }

    .footer__contact {
        font-size: 10px;
    }

    #cont1 {
        display: flex;
    }

    #cont2 {
        display: none;
    }

}